.wrapper {
    height: 50vh; 
    position: relative;
    overflow-y: auto;  
    border: 1px solid #3b3a3a;
}

thead {
    background-color: #77a9f5;
}

table th,td {
    border: 1px solid #3b3a3a;
    padding: 8px;
    text-align: left;
}

@media (max-width: 585px) {
    .wrapper {
        overflow-x: auto;
    }
    th, td {
        padding: 2px; 
    }
    table {
        font-size: 10px;
        border-collapse: collapse;
    }
}
@media (max-width: 375px) {
    .wrapper {
        overflow-x: auto;
    }
    th, td {
        padding: 0px; 
    }
    table {
        font-size: 8px;
        border-collapse: collapse;
    }
}
